@inject DiceJsInterop Js

<div class="container">
    <img @onclick="@AlertResultAsync" src="@ImagePath" alt=@($"1d{MaxValue}") class="container__pic" />
    <div class="container__vertical">
        <h5 class="container__header">@DiceName</h5>
        <input type="number" min="1" max="65536" step="1" @bind="@DiceCount" class="container__input" />
        <button @onclick="@AlertResultAsync" class="container__button">Бросить!</button>
    </div>
</div>

@code {
	[Parameter]
	public Action<string>? LogTo { get; set; }

    private ushort DiceCount { get; set; } = 1;
    [Parameter]
    public string? ImagePath { get; set; }
    [Parameter]
    public int MaxValue { get; set; }

    private string DiceName => $"d{MaxValue}";
    private string FullDiceName => $"{DiceCount}{DiceName}";

    private int Minimum => DiceCount;
    private int Maximum => DiceCount * MaxValue;

    private async Task AlertResultAsync()
    {
        int throwResult = Enumerable.Range(1, DiceCount)
            .Select(_ => Random.Shared.Next(1, MaxValue + 1))
            .Sum();
        string result = $"Ваш результат {FullDiceName} [{Minimum}-{Maximum}] : {throwResult}";
        LogTo?.Invoke(result);
        
        await Js.AlertAsync(result);
    }
}